/* 
 * Reset CSS
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/* Set height */

html, 
body {
  height: 100%;
}

.body-background {
  background-color: #FFFFFF;
}

/* Fonts */

body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.35;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Garamond, Times, serif;
  line-height: 1.2;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

/* Scrolling */

.noscroll {
  overflow: hidden; /* Hide scrollbars */
}

.noscroll-on-desktop {
  overflow: hidden;
}

@media only screen and (max-width: 667px) {
  .noscroll-on-desktop {
    overflow: visible ;
  }
}

/* Flex layouts */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
  text-align: center;
}

.flex-full-width {
  width: 100%;
}

.flex-full-height {
  height: 100%;
}

/* Main content styling */

.main-content {
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
  padding: 1.5em;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.main-content > * {
  margin-bottom: 1rem;
}

.notice {
  font-size: 0.85rem;
  text-align: center;
}


/* Main page content */

.sign-in-background {
  background-color: #03AFEF;
  background-image: linear-gradient(to bottom right, #03AFEF 0%, #C3E6F4 100%);
}

.sign-in-cluster {
  z-index: 1;
  color: #FFFFFF;
}

.sign-in-cluster > h2 {
  margin-top: 5vh;
  font-weight: bold;
}

.sign-in-cluster > * {
  margin: 0.5rem 0;
}

.sign-in-container {
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 0.75em #ABB2B9;
  border-radius: 0.5em;
  width: 32em;
  box-sizing: border-box;
  padding: 1.5em;
}

.sign-in-container > p {
  font-size: 1.25em;
}

@media only screen and (max-width: 667px) {
  .sign-in-container > p {
    font-size: 1rem;
  }
}

.sign-in-container > *:last-child {
  margin-bottom: 0;
}

.sign-in-icon {
  display: block !important;
  text-align: center;
}

.anim-profile-pic {
  box-sizing: border-box;
  position: absolute;
  bottom: -8em;
  background-color: #006691;
  opacity: 70%;
  border-style: solid;
  border-color: #dcf0ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation-name: spinup;
  animation-duration: 25s;
  animation-iteration-count: infinite;
}

.anim-profile-pic-xs {
  border-width: 0.5em;
  width: 2em;
  height: 2em;
}

.anim-profile-pic-sm {
  border-width: 0.75em;
  width: 3em;
  height: 3em;
}

.anim-profile-pic-md {
  border-width: 1em;
  width: 4em;
  height: 4em;
}

.anim-profile-pic-lg {
  border-width: 1.5em;
  width: 6em;
  height: 6em;
}

.anim-profile-pic-xl {
  border-width: 2em;
  width: 8em;
  height: 8em;
}

#pp0 {
  left: 2%;
  animation-delay: 0s;
  animation-duration: 25s;
}

#pp1 {
  left: 10%;
  animation-delay: 3s;
  animation-duration: 17s;
}

#pp2 {
  left: 20%;
  animation-delay: 2s;
  animation-duration: 40s;
}

#pp3 {
  left: 25%;
  animation-delay: 2s;
  animation-duration: 25s;
}

#pp4 {
  left: 33%;
  animation-delay: 15s;
  animation-duration: 40s;
}

#pp5 {
  left: 55%;
  animation-delay: 8s;
  animation-duration: 20s;
}

#pp6 {
  left: 70%;
  animation-delay: 0s;
  animation-duration: 25s;
}

#pp7 {
  left: 70%;
  animation-delay: 10s;
  animation-duration: 20s;
}

#pp8 {
  left: 80%;
  animation-delay: 3s;
  animation-duration: 25s;
}

#pp9 {
  left: 90%;
  animation-delay: 15s;
  animation-duration: 15s;
}

/* Message form */

.message-form {
  box-sizing: border-box;
}

.form-entry {
  margin-bottom: 2em;
}

.form-element {
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 100%;
  padding: 0.5em 0.5em;
}

.form-element-prefix {
  display: inline-block;
  border-right: 0 !important;
  border-radius: .25em 0 0 .25em !important;
  display: flex;
  align-items: center;
  background-color: #F4F6F7;
  padding: 0 0.25em;
}

.form-element-prefix:hover {
  cursor: default;
}

.form-element-prefixed input {
  max-width: 100%;
  border-radius: 0 .25em .25em 0;
}

textarea {
  font-family: inherit;
  height: 10em;
}

.preview-container * {
  font-family: SegoeUI, sans-serif;
}

.preview-container #groupname {
  font-size: 18px;
  font-weight: 700;
}

.preview-container #nickname {
  font-size: 13px;
  font-weight: 700;
  color: #626F82;
  margin-bottom: 6px;
}

.preview-container #message-preview-text pre {
  font-size: 15px;
  line-height: 20px;
  white-space: pre-wrap;
}

.group-banner {
  background-color: white;
  border-bottom: 2px solid #E8E8E8;
  padding: 0.6em 0;
  align-items: center;
}

#group-image {
  padding: 0 1em;
}

.message-preview {
  background-color: #E5F1F6;
}

#user-image {
  margin: 0.5em 1em auto 1em;
  border-radius: 50%;
}

.message-preview .message-content {
  padding: 1em 0.75em 1em 0;
}

/* Success page */

.anim-fade {
  animation: fadein 1s;
}

/* Child element margins */

.child-margin-bottom-normal > *{
  margin-bottom: 1rem;
}

/* Borders */

.gray-rounded-border {
  border: 1px solid #A6ACAF;
  border-radius: 2px;
}

/* Lists */

.big-number-list {
  list-style-type: decimal;
  text-align: left;
  width: 100%;
}

.big-number-list > li {
  list-style-position: inside;
  font-size: 1.25em;
}

@media only screen and (max-width: 667px) {
  .big-number-list > li {
    list-style-position: inside;
    font-size: 1em;
  }
}

.big-number-list > li::marker{
  font-family: 'Abril Fatface', serif;
  font-size: 1.7em;
  font-weight: bold;
}

/* Navigation */

.navbar-wrapper {
  background-color: #17202A;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 3em;
  margin: 0 auto;
  width: 100%;
}

.navbar li {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.navbar li a {
  display: block;
  text-decoration: none;
  line-height: 1.75em;
  color: #FFFFFF;
  margin: 0 1em;
}

/* Buttons */

.btn {
  /* Alignment */
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1em;
  /* General appearance */
  border: none;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  white-space: nowrap;
  color: white;
  background-color: #2ECC71;
  transition: background-color 0.15s ease-in-out;
}

.btn:hover {
  background-color: #28B463;
  cursor: pointer;
}

.btn-groupme-green {
  background-color: #78c32c;
}

.btn-groupme-green:hover {
  background-color: #4C7C1C;
}

.btn-blue {
  background-color: #2E86C1;
}

.btn-blue:hover {
  background-color: #3498DB;
}

.btn:disabled {
  background-color: #ABEBC6;
  cursor: not-allowed;
}

.btn-large {
  font-size: 1.25em;
  line-height: 1.75em;
  width: 100%;
  padding: 0.25em;
}

.btn-medium {
  font-size: 1.1em;
  line-height: 1.5em;
  width: 10em;
  padding: 0.5em;
}

.btn-center-container {
  text-align: center;
}

/* Animations */

@keyframes fadein {
  from  { opacity:0; }
  to    { opacity:1; }
}

@keyframes spinup {
  from  { transform: translateY(0px); }
  to    { transform: translateY(-150vh) rotate(720deg); }
}

/* Remove some info on small screens */

@media only screen and (max-width: 667px) {
  .full-mobile {
    width: 100% !important;
  }
  
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 667px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', 'Arial Narrow', Arial, sans-serif;
  }
  
  h1 {
    font-size: 2.986rem;
  }

  h2 {
    font-size: 2.488rem;
  }

  h3 {
    font-size: 2.074rem
  }

  h4 {
    font-size: 1.728rem
  }

  h5 {
    font-size: 1.44em;
  }

  h6 {
    font-size: 1.2rem;
  }
}