{% extends "base.html" %}
{% block body %}
<main class="main-content full-mobile">
  <h2>{% block title %}FAQ{% endblock %}</h2>
  <ul class="faq-group">
    <li class="faq-item">
      <button class="faq-trigger">Why don't I see all the groups I'm in?</button>
      <div class="faq-content">
        <p>You can only send group mentions to groups where you are an admin or owner.</p>
      </div>
    </li>
  </ul>
</main>
<script>
  var acc = document.getElementsByClassName("faq-trigger");
  var i;
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("faq-active");
      var faqContent = this.nextElementSibling;
      var currMaxHeight = faqContent.style.maxHeight;
      faqContent.style.maxHeight = currMaxHeight ? null :  faqContent.scrollHeight + "px";
    });
  }
</script>
{% endblock %}